// Colors
$cGreen: #8ec340;
$cGreenHover: #81a944;
$cGreenOpacity: #8fc3404c;
$cBody: white;

$cOrange: #ffcd00;
$cBorderGray: #b5b5b5;
$cBgGray: #ebebeb;

$fRegular: "Open Sans", sans-serif;
$fBlack: "Open Sans", sans-serif;

// FontWight
$fw400: 400;
$fw700: 700;
$fw900: 900;

// Font color
$cTextBlackMain: #212322;
$cTextBlackSecondary: #838383;
$cRed: #ff0000;
$cRedHover: #b50000;

$mainTransition: all 0.3s ease-in-out;

$focusVisibleOutline: 3px solid #ffcd00;
