@import "../scss/variables";
@import "../scss/mixin";

.category_container {
  @include mainContainer;

  @media screen and (min-width: 1940px) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  margin-top: 20px;
  margin-bottom: 40px;
  z-index: 100000;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid $cBorderGray;

  @media screen and (max-width: 1170px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 992px) {
    margin-top: 0px;
    margin-bottom: 0px;
    order: 2;
  }

  @media screen and (max-width: 576px) {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  //  Breadcrumbs
  .category_breadcrumb {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px 24px;
    border-bottom: 1px solid $cBorderGray;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      padding: 10px 16px;
    }

    li {
      padding-right: 30px;
      display: inline-block;
      position: relative;
      line-height: 100%;
      @include breadcrumbsText;

      &:last-of-type {
        color: $cGreen;
      }

      @media screen and (max-width: 992px) {
        padding-right: 15px;
      }

      &::after {
        @include breadcrumbsText;
        content: "/";
        position: absolute;
        top: 0px;
        right: 10px;

        @media screen and (max-width: 992px) {
          right: 5px;
          top: 0px;
        }

        @media screen and (max-width: 450px) {
          top: 0px;
        }
      }

      &:last-of-type {
        &::after {
          content: "";
          display: none;
        }
      }
    }

    a,
    p {
      @include breadcrumbsText;
      padding: 0;
      margin: 0;
      white-space: nowrap;
    }

    a {
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $cGreen;
      }
    }
  }

  .category_row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;

    @media screen and (max-width: 992px) {
      padding: 15px;
    }

    @media screen and (max-width: 576px) {
      padding: 10px;
    }

    h1 {
      @include headerText40;
      padding-top: 10px;
      padding-bottom: 15px;

      @media screen and (max-width: 1400px) {
        font-size: 36px;
      }

      @media screen and (max-width: 1100px) {
        font-size: 33px;
      }

      @media screen and (max-width: 576px) {
        font-size: 31px;
      }

      @media screen and (max-width: 450px) {
        font-size: 29px;
      }
    }

    p {
      padding-right: 30vw;

      @media screen and (max-width: 1400px) {
        padding-right: 0vw;
      }
    }

    .category_row_results {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 24%);
      grid-auto-rows: minmax(min-content, max-content);
      column-gap: 1%;
      row-gap: 20px;
      justify-content: space-between;
      padding: 20px 4vw;

      @media screen and (max-width: 1400px) {
        padding: 20px 0px;
      }

      @media screen and (max-width: 1200px) {
        grid-gap: 10px;
        grid-template-columns: repeat(3, 32%);
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 49%);
        padding: 0px;
      }

      @media screen and (max-width: 450px) {
        grid-template-columns: repeat(2, 48.5%);
      }

      .category_row_results_item {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0px 20px;
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
          border: 1px solid $cBorderGray;
          padding: 10px 15px;
          padding-bottom: 15px;
        }

        @media screen and (max-width: 576px) {
          padding: 10px;
        }

        .category_row_results_item_image {
          @media screen and (max-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            img {
              max-width: 100%;
              width: fit-content;
              max-height: 210px;
              object-fit: contain;

              @media screen and (max-width: 768px) {
                max-width: 100%;
                margin: 0 auto;
              }

              @media screen and (max-width: 576px) {
                max-width: 100%;
                max-height: 140px;
              }

              @media screen and (max-width: 450px) {
                max-height: 120px;
              }

              @media screen and (max-width: 375px) {
                max-height: 100px;
              }
            }
          }
        }

        .category_row_results_item_name {
          position: relative;
          padding-top: 10px;

          @media screen and (max-width: 768px) {
            padding-right: 35px;
          }

          @media screen and (max-width: 450px) {
            padding-right: 30px;
          }

          a {
            @include boldText22;
            color: $cGreen;
            line-height: 110%;

            @media screen and (max-width: 768px) {
              width: fit-content;
              font-size: 19px;
            }

            @media screen and (max-width: 576px) {
              font-size: 16px;
            }

            @media screen and (max-width: 450px) {
              font-size: 16px;
            }

            @media screen and (max-width: 400px) {
              font-size: 15px;
            }

            @media screen and (max-width: 375px) {
              word-wrap: break-word;
            }
          }

          .category_row_results_item_name_mob_arrow {
            display: none;

            @media screen and (max-width: 768px) {
              content: "";
              position: absolute;
              top: 5px;
              right: -5px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              height: 30px;

              @media screen and (max-width: 450px) {
                right: -10px;
              }
            }

            &::before {
              width: 24px;
              height: 14px;
              transform: scale(0.8) rotate(0deg);
              mask-size: contain;
              mask-repeat: no-repeat;
              mask-position: center;
              background-color: rgb(173, 173, 173);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              mask: url(../icon/arrow_fill_icon.svg);
              content: "";
              transition: all 0.3s ease-in-out;

              @media screen and (max-width: 576px) {
                top: 2px;
              }

              @media screen and (max-width: 450px) {
                transform: scale(0.6) rotate(0deg);
              }
            }

            &:hover {
              color: $cGreen;

              &::before {
                background-color: $cGreen;
              }
            }
          }

          .category_row_results_item_name_mob_arrow_rotate {
            &::before {
              transform: scale(0.8) rotate(180deg);

              @media screen and (max-width: 450px) {
                transform: scale(0.6) rotate(180deg);
              }
            }
          }
        }

        .category_row_results_item_list_container {
          display: block;

          @media screen and (max-width: 768px) {
            display: none;
            position: absolute;
            top: 100%;
            left: -1px;
            right: -1px;
            z-index: 1000022;
            background-color: white;
            border: 1px solid $cBorderGray;
            width: calc(100% + 2px);
            height: fit-content;
            padding: 5px 15px;
            box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
          }
        }

        .category_row_results_item_list {
          display: flex;
          flex-direction: column;
          padding-top: 15px;
          row-gap: 5px;

          @media screen and (max-width: 992px) {
            row-gap: 8px;
          }

          @media screen and (max-width: 768px) {
            row-gap: 0px;
            padding-top: 5px;
          }

          a {
            @include plainText16;
            transition: all 0.3s ease-in-out;

            @media screen and (max-width: 1366px) {
              font-size: 16px;
            }

            @media screen and (max-width: 768px) {
              font-size: 20px;
              border-bottom: 1px solid $cBorderGray;
              padding: 10px 0px;
              display: block;
            }

            @media screen and (max-width: 576px) {
              font-size: 17px;
            }

            @media screen and (max-width: 450px) {
              font-size: 15px;
            }

            @media screen and (max-width: 375px) {
              font-size: 14px;
            }

            &:hover {
              color: $cGreen;
            }

            &:last-of-type {
              @media screen and (max-width: 768px) {
                border-bottom: 1px solid transparent;
              }
            }
          }

          .category_row_results_item_list_visible_button {
            text-align: left;
            position: relative;
            margin-left: 20px;
            @include plainText16;
            width: fit-content;
            color: rgb(173, 173, 173);

            @media screen and (max-width: 1366px) {
              font-size: 16px;
            }

            @media screen and (max-width: 992px) {
              margin-top: 5px;
            }

            @media screen and (max-width: 768px) {
              display: none;
            }

            &::before {
              position: absolute;
              top: 2px;
              left: -20px;
              width: 24px;
              height: 14px;
              transform: scale(0.6) rotate(0deg);
              mask-size: contain;
              mask-repeat: no-repeat;
              mask-position: center;
              background-color: rgb(173, 173, 173);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              mask: url(../icon/arrow_fill_icon.svg);
              content: "";
              transition: all 0.3s ease-in-out;

              @media screen and (max-width: 576px) {
                top: 2px;
              }
            }

            &:hover {
              color: $cGreen;

              &::before {
                background-color: $cGreen;
              }
            }
          }

          .category_row_results_item_list_visible_button_rotate {
            &::before {
              transform: scale(0.7) rotate(180deg);
            }
          }
        }
      }

      .category_row_results_item_list_dropdown_container {
        z-index: 1000022;
        position: relative;
        height: 1px;

        @media screen and (max-width: 768px) {
          height: fit-content;
        }

        .category_row_results_item_list_dropdown {
          position: absolute;
          top: 100%;
          left: 0px;
          z-index: 1000022;
          display: none;
          height: fit-content;
          background-color: white;
          padding: 5px 15px;
          width: fit-content;
          box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);

          @media screen and (max-width: 768px) {
            position: relative;
            display: flex !important;
            flex-direction: column;
            top: 0px;
            left: 0px;
            box-shadow: none;
            padding: 0px;
            width: 100%;
          }

          a {
            z-index: inherit;
            padding: 6px 0px;
            display: block;
            @include plainText16;
            white-space: nowrap;
            transition: all 0.3s ease-in-out;
            border-top: 1px solid $cBorderGray;

            @media (max-width: 1366px) {
              font-size: 16px;
            }

            @media screen and (max-width: 768px) {
              font-size: 20px;
              padding: 10px 0px;
              width: 100%;
            }

            @media screen and (max-width: 576px) {
              font-size: 17px;
            }

            @media screen and (max-width: 450px) {
              font-size: 15px;
            }

            @media screen and (max-width: 375px) {
              font-size: 14px;
            }

            &:hover {
              color: $cGreen;
            }

            &:first-of-type {
              border-top: 1px solid transparent;

              @media screen and (max-width: 768px) {
                border-top: 1px solid $cBorderGray;
              }
            }
          }
        }
      }
    }
  }
}