@import "../scss/variables";
@import "../scss/mixin";

.bonus {
  padding-bottom: 30px;
  margin-top: -10px;

  @media screen and (max-width: 576px) {
    font-size: 20px;
  }

  @media screen and (max-width: 375px) {
    font-size: 18px;
  }

  span {
    color: #8ec340;
    font-weight: bold;
  }
}