@import "../scss/variables";
@import "../scss/mixin";


.payment_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    column-gap: 5px;

    &:first-of-type {
        margin-top: 15px;
    }

    span {
        @include plainText14;

    }
}