main {
  margin: 0px 50px;
  margin-top: 20px;
  margin-bottom: 40px;
  z-index: 100000;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #b5b5b5;
}
@media screen and (min-width: 1940px) {
  main {
    margin: 0px auto;
    max-width: 1820px;
  }
}
@media screen and (max-width: 1170px) {
  main {
    margin: 0px 30px;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin: 0px 16px;
  }
}
@media screen and (min-width: 1940px) {
  main {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1170px) {
  main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 992px) {
  main {
    margin-top: 0px;
    margin-bottom: 0px;
    order: 2;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
main .certificates_row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
@media screen and (max-width: 992px) {
  main .certificates_row {
    padding: 15px;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row {
    padding: 10px;
  }
}
main .certificates_row h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: #2d2d2d;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1600px) {
  main .certificates_row h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 1450px) {
  main .certificates_row h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1270px) {
  main .certificates_row h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 992px) {
  main .certificates_row h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 768px) {
  main .certificates_row h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 1400px) {
  main .certificates_row h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 1100px) {
  main .certificates_row h1 {
    font-size: 33px;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row h1 {
    font-size: 31px;
  }
}
@media screen and (max-width: 450px) {
  main .certificates_row h1 {
    font-size: 29px;
  }
}
main .certificates_row h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #212322;
  letter-spacing: 1px;
  padding-right: 30vw;
}
@media screen and (max-width: 1600px) {
  main .certificates_row h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  main .certificates_row h2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1270px) {
  main .certificates_row h2 {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  main .certificates_row h2 {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  main .certificates_row h2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 1400px) {
  main .certificates_row h2 {
    padding-right: 0vw;
  }
}
main .certificates_row .certificates_row_results {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-auto-rows: minmax(min-content, max-content);
  -moz-column-gap: 1%;
       column-gap: 1%;
  row-gap: 20px;
  justify-content: space-between;
  padding: 20px 4vw;
}
@media screen and (max-width: 1400px) {
  main .certificates_row .certificates_row_results {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 1200px) {
  main .certificates_row .certificates_row_results {
    grid-gap: 10px;
    grid-template-columns: repeat(3, 32%);
  }
}
@media screen and (max-width: 768px) {
  main .certificates_row .certificates_row_results {
    grid-template-columns: repeat(2, 49%);
    padding: 0px;
  }
}
@media screen and (max-width: 450px) {
  main .certificates_row .certificates_row_results {
    grid-template-columns: repeat(2, 48.5%);
  }
}
main .certificates_row .certificates_row_results .certificates_row_results_item {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
@media screen and (max-width: 768px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item {
    border: 1px solid #b5b5b5;
    padding: 10px 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item {
    padding: 10px;
  }
}
main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: all 0.3s ease-in-out;
  border: 3px solid white;
}
main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img:hover {
  cursor: zoom-in;
  filter: opacity(0.7);
  border: 3px solid #8ec340;
}
main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img img {
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 310px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img img {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img img {
    max-width: 100%;
    max-height: 140px;
  }
}
@media screen and (max-width: 450px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img img {
    max-height: 120px;
  }
}
@media screen and (max-width: 375px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item .certificates_row_results_item_img img {
    max-height: 100px;
  }
}
main .certificates_row .certificates_row_results .certificates_row_results_item span {
  font-weight: 600;
  font-size: 23px;
  line-height: 140%;
  color: #212322;
  letter-spacing: 1px;
  color: #8ec340;
  line-height: 110%;
}
@media (max-width: 450px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 19px;
  }
}
@media screen and (max-width: 576px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  main .certificates_row .certificates_row_results .certificates_row_results_item span {
    word-wrap: break-word;
  }
}

.fancybox-container {
  z-index: 990000992 !important;
}