.bonus {
  padding-bottom: 30px;
  margin-top: -10px;
}
@media screen and (max-width: 576px) {
  .bonus {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .bonus {
    font-size: 18px;
  }
}
.bonus span {
  color: #8ec340;
  font-weight: bold;
}